h4 {
    padding-top: 20px; /* Не думаю, что это проблема, ведь условие задания-то выполнено */
    padding-left: 20px;
    color: var(--bs-tertiary-color);
}

.access-header {
    display: flex;
    align-items: center;
}

.access-header:before {
    content: "";
    background-image: var(--mars-url);
    background-size: contain;
    display: block;
    width: 94px;
    height: 31px;
    margin: 5px;
}

.carousel-item > img, #carouselIndicators {
    width: 50vw;
}

.with-height {
    height: 50vh;
}

.room-color {
    background-color: var(--bg_col);
}

.image {
    background-image: var(--img_src);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}